<% layout('layouts/boilerplate') %>


<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4 mb-4">
            <div class="card shadow">
                
                <img src="https://source.unsplash.com/rlwE8f8anOc/1600x900" alt="" class="card-img-top"/>
                    <div class="card-body">
                        <h5 class="card-title">Create a sign up</h5>
                        <p>Please fill in this form to create an account!</p>
                        <hr>
                        <form action="/signup"  method='POST' class="validatedForm" novalidate></form>
                        <div class='mb-4'>
                            <label class="form-label" for="username">Username</label>
                            <input class="form-control" type="text" id="username" name="username" required>
                            
                        </div>
                        <div class='mb-4'>
                            <label class="form-label" for="email">Email</label>
                            <input class="form-control" type="email" id="email" name="email" required>
                    
                            
                        </div>
                    
                        <div class='mb-4'>
                            <label class="form-label" for="password">Password</label>
                            <input class="form-control" type="password" id="password" name="password" required>
                            
                        </div>


                        <div >
                            <button class="btn btn-success">Sign up</button>
                        </div>
                    </form>
                    </div>



            </div>
    
        </div>
        
    </div>
</div>
    


